.page ul.list-tabs {
  border: 0; }
  .page ul.list-tabs li.active a {
    background: #aac9d4;
    color: #fff; }

.page-index .plan .plan-main .plan-main-left .list1box1 .plan-main-list {
  height: 700px; }

.page-index .plan .plan-main .plan-main-left .plan-main-list {
  height: 265px; }

.page-index .plan-title ul li span {
  color: #777; }

.page-index .plan-main-title .nav {
  float: none; }
  .page-index .plan-main-title .nav li {
    color: #333;
    float: none; }
    .page-index .plan-main-title .nav li a {
      border-radius: 0; }

.page-index .plan-main-list > ul > li > p .label {
  vertical-align: 0; }

.page-index .plan-main-title ul li {
  color: #333; }

* {
  box-sizing: border-box; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style-type: none; }

.hd {
  background: #1fa3e3; }
  .hd ul li a {
    color: #FFFFFF; }

.hd-con {
  width: 1200px;
  height: 84px;
  margin: 0 auto; }

.logo {
  display: inline-block;
  width: 257px;
  height: 49px;
  padding: 8px 0 0 12px; }

.nav {
  float: right;
  margin-top: 27px; }

.nav-list {
  overflow: hidden; }

.nav-list li {
  float: left;
  margin-right: 42px;
  line-height: 30px; }

.nav-list li:last-child {
  margin-right: 0; }

.nav-list li .cur {
  color: #ffff00; }

.nav-list .login-li a {
  display: block;
  float: left;
  width: 60px;
  height: 30px;
  font-size: 12px;
  text-align: center;
  border: 1px solid #F3EFEF;
  color: #fff;
  border-radius: 3px; }
  .nav-list .login-li a:first-child:hover {
    background: #fff;
    color: #0174ac; }
  .nav-list .login-li a:last-child {
    background: #d2edf9;
    color: #0174ac; }
    .nav-list .login-li a:last-child:hover {
      background: #fff; }

.nav-list .login-li a.register {
  margin-right: 10px; }

.nav-list .login-li a.login {
  color: #0174ac; }

.nav-list .login-li a:hover {
  color: #0174ac; }

.error {
  border: 1px solid red !important; }

.nav-bg .nav-main {
  height: 44.44px; }

input::-ms-clear {
  display: none; }

.page-login .product {
  background-color: #FFFFFF;
  padding-bottom: 50px; }

.page-login ul.product-list {
  margin: 0;
  padding: 0; }

.page-login ul li {
  list-style-type: none; }

.page-login .carousel-inner {
  width: 100%;
  height: 480px;
  margin: 0 auto; }

@media screen and (min-width: 1470px) {
  .page-login .carousel-inner {
    width: 1440px;
    margin: 0 auto; } }

.page-login .branding-inner div:first-child {
  display: block; }

.page-login .branding-inner div {
  display: none;
  position: absolute; }

.page-login .navigator {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -45px; }

.page-login .navigator li {
  float: left;
  width: 15px;
  height: 15px;
  margin-right: 15px;
  background: url(../img/circular_item.png) no-repeat -30px 0; }

.page-login .navigator .cur {
  background: url(../img/circular_item.png) no-repeat 0 0; }

.page-login .index-prev-open {
  position: absolute;
  bottom: 70px;
  left: 50%;
  margin-left: -92px; }

.page-login .index-prev-open a {
  display: block;
  width: 185px;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  color: #fff;
  text-align: center;
  background: url(../img/open.png) no-repeat 0 0; }

.page-login .index-prev-open a:hover {
  background: url(../img/open_on.png) no-repeat 0 0; }

.page-login .cy-indexprev-panel.about {
  height: 241px;
  margin-bottom: 94px;
  padding-top: 74px;
  background: #f1f1f1; }

.page-login .cy-indexprev-panel.free {
  background: #f1f1f1; }

.page-login .free-con {
  position: relative;
  width: 694px;
  height: 300px;
  margin: 0 auto; }

.page-login .free-con .free-img {
  margin: 0 auto;
  width: 502px;
  height: 201px;
  background: url(../img/advert_02.png) no-repeat left 50px; }

.page-login .free-con p {
  padding-top: 7px;
  font-size: 14px;
  line-height: 21px;
  color: #666; }

.page-login .product-con {
  width: 1000px;
  margin: 0 auto;
  padding-top: 60px; }

.page-login .product-hd {
  margin-bottom: 50px;
  font-size: 30px;
  color: #1583b9;
  text-align: center;
  font-weight: bold; }

.page-login .product-list {
  overflow: hidden; }

.page-login .product-item {
  float: left;
  width: 250px;
  padding: 0 15px 5px;
  border-right: 1px solid #efefef; }

.page-login .product-item .item-thumbnail {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  text-align: center;
  background: url(../img/thumbnail_bg.jpg) no-repeat; }

.page-login .product-item .item-thumbnail img {
  display: inline-block;
  vertical-align: middle; }

.page-login .product-item .item-thumbnail:after {
  content: "";
  display: inline-block;
  height: 150px;
  vertical-align: middle; }

.page-login .product-item .item-name {
  margin-bottom: 0;
  font-size: 20px;
  line-height: 30px;
  color: #333;
  text-align: center; }

.page-login .product-item .item-info {
  font-size: 14px;
  line-height: 22px;
  color: #666; }

.page-login .down_ani {
  height: 0;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0; }

.page-login .app-explain-panel img {
  width: 100%; }

.page-login .product-features-panel {
  text-align: center; }
  .page-login .product-features-panel .product-features-title {
    font-size: 30px;
    font-family: "Microsoft YaHei";
    color: #1583b9;
    width: 320px;
    margin: 0 auto;
    padding: 60px 0 15px 0;
    border-bottom: solid 2px #c5c5c5; }
  .page-login .product-features-panel img {
    margin-top: 15px;
    margin-bottom: 70px; }

.page-help {
  background-color: #FFFFFF; }
  .page-help .consult-main {
    width: 1000px;
    margin: 0 auto;
    background: #fff; }
  .page-help .help {
    padding-top: 26px;
    background: #fff; }
  .page-help .help-hd {
    border-bottom: 1px solid #e4e4e4; }
  .page-help .help-bd {
    margin-top: 40px; }
  .page-help .help-list {
    margin-bottom: 40px;
    padding-left: 10px;
    overflow: hidden; }
  .page-help .help-list li {
    float: left;
    width: 288px;
    text-align: center;
    border-right: 1px solid #e4e4e4; }
  .page-help .help-list li:first-child {
    width: auto;
    padding-right: 86px; }
  .page-help .help-list li:last-child {
    border-right: 0;
    padding-left: 99px;
    width: auto; }
  .page-help .help-list i {
    margin: 0 auto 15px;
    display: block;
    width: 119px;
    height: 116px; }
  .page-help .help-list .online i {
    background: url(../img/consult_01.png) no-repeat; }
  .page-help .help-list .qq i {
    background: url(../img/consult_02.png) no-repeat; }
  .page-help .help-list .phone i {
    background: url(../img/consult_03.png) no-repeat; }
  .page-help .help-list .code i {
    width: 92px;
    background: url(../img/code.jpg) no-repeat left 10px; }
  .page-help .help-list li span {
    font-size: 18px;
    color: #333; }
  .page-help .help-list .online-btn {
    display: block;
    margin: -5px auto 0;
    width: 115px;
    height: 45px;
    font-size: 18px;
    line-height: 45px;
    color: #fff;
    background: url(../img/consult_bg.png) no-repeat; }
  .page-help .problem-hd {
    border-bottom: #efefef solid 1px; }
  .page-help .problem-bd {
    padding: 10px 0 40px 0; }
  .page-help .problem-bd .title {
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    color: #046392; }
  .page-help .problem-bd i {
    float: left;
    margin-top: 4px;
    margin-right: 12px;
    width: 5px;
    height: 17px;
    background: #ff9966; }
  .page-help .problem-bd .text {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 24px;
    color: #666; }
  .page-help .product-list {
    overflow: hidden; }
  .page-help .product-item {
    float: left;
    width: 331px;
    padding: 0 20px 36px;
    border-right: 1px solid #efefef; }
  .page-help .product-item .item-thumbnail {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
    background: url(../img/thumbnail_bg.jpg) no-repeat; }
  .page-help .product-item .item-thumbnail img {
    display: inline-block;
    vertical-align: middle; }
  .page-help .product-item .item-thumbnail:after {
    content: "";
    display: inline-block;
    height: 150px;
    vertical-align: middle; }
  .page-help .product-item .item-name {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 30px;
    color: #333;
    text-align: center; }
  .page-help .product-item .item-info {
    font-size: 14px;
    line-height: 22px;
    color: #666; }

.page-newYq .clear {
  clear: both; }

.page-newYq .modify-plan-main .modify-plan-video-title {
  margin-bottom: 0; }

.page-newYq .modify-plan-main .modify-plan-content .modify-plan-item-title {
  color: #333; }

.page-newYq .modify-plan-main .modify-plan-content p span {
  color: red; }

.page-newYq .modify-plan-main .modify-plan-content .form-control {
  height: 40px;
  padding: 0 12px; }

.page-newYq .modify-plan-main .modify-plan-content .form-group {
  height: 44px; }
  .page-newYq .modify-plan-main .modify-plan-content .form-group .form-group-title, .page-newYq .modify-plan-main .modify-plan-content .form-group .cy-checkbox {
    color: #333; }
  .page-newYq .modify-plan-main .modify-plan-content .form-group .form-group-title {
    display: inline-block;
    float: left;
    line-height: 40px; }
  .page-newYq .modify-plan-main .modify-plan-content .form-group .group-input-warp {
    position: relative;
    display: inline-block;
    background: #fff;
    border: solid 1px #b1b1b1;
    margin-right: 5px;
    float: left; }
    .page-newYq .modify-plan-main .modify-plan-content .form-group .group-input-warp .input-warp {
      display: inline-block;
      float: left;
      width: 135px;
      height: 40px; }
    .page-newYq .modify-plan-main .modify-plan-content .form-group .group-input-warp input {
      display: inline-block;
      width: 100px;
      height: 38px;
      border: 0;
      background: #fff;
      color: #59c2e6;
      padding: 0;
      text-indent: 10px;
      box-shadow: none;
      line-height: 43px; }
    .page-newYq .modify-plan-main .modify-plan-content .form-group .group-input-warp .operation-box {
      color: #bcbcbc;
      display: inline-block;
      width: 30px;
      height: 100%;
      float: right;
      position: relative;
      line-height: 40px; }
      .page-newYq .modify-plan-main .modify-plan-content .form-group .group-input-warp .operation-box .add-btn {
        cursor: pointer;
        font-size: 16px; }
        .page-newYq .modify-plan-main .modify-plan-content .form-group .group-input-warp .operation-box .add-btn:nth-child(2) {
          display: none; }
      .page-newYq .modify-plan-main .modify-plan-content .form-group .group-input-warp .operation-box .with-next {
        font-size: 20px;
        color: #666;
        display: none; }
      .page-newYq .modify-plan-main .modify-plan-content .form-group .group-input-warp .operation-box .close-btn {
        position: absolute;
        top: -2px;
        right: -3px;
        color: #666;
        font-size: 20px;
        font-weight: 100;
        cursor: pointer;
        display: block;
        width: 15px;
        height: 15px;
        line-height: 15px;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
  .page-newYq .modify-plan-main .modify-plan-content .form-group .add-line-btn {
    width: 100px;
    height: 40px;
    background: #59c2e6;
    border: 0;
    font-size: 14px;
    color: #fff; }

.page-newYq .modify-plan-main .modify-plan-content .warning .form-group {
  height: 40px; }

.page-newYq .modify-plan-main .modify-plan-content .warning .warning-list {
  display: inline-block;
  float: left; }
  .page-newYq .modify-plan-main .modify-plan-content .warning .warning-list .modify-plan-operation-btn {
    line-height: 35px; }

.page-newYq .modify-plan-main .modify-plan-content .warning .group-input-warp {
  background: #fff;
  border: solid 1px #b1b1b1;
  width: 130px; }
  .page-newYq .modify-plan-main .modify-plan-content .warning .group-input-warp input {
    width: 115px;
    height: 38px;
    background: #fff;
    box-shadow: none;
    color: #666; }
  .page-newYq .modify-plan-main .modify-plan-content .warning .group-input-warp .operation-box {
    width: 10px; }
    .page-newYq .modify-plan-main .modify-plan-content .warning .group-input-warp .operation-box .close-btn {
      color: #666; }

.page-newYq .modify-plan-main .modify-plan-content .warning .form-group-title {
  width: 15px;
  margin-right: 15px;
  display: none; }

.page-newYq .modify-plan-video .modify-plan-video-item {
  padding-bottom: 30px; }
  .page-newYq .modify-plan-video .modify-plan-video-item .modify-plan-video-title {
    margin-bottom: 0;
    padding-left: 5px; }
    .page-newYq .modify-plan-video .modify-plan-video-item .modify-plan-video-title .eye-info {
      width: 24px;
      height: 12px; }
  .page-newYq .modify-plan-video .modify-plan-video-item .modify-plan-video-main {
    padding-left: 35px;
    padding-top: 10px;
    color: #666; }
    .page-newYq .modify-plan-video .modify-plan-video-item .modify-plan-video-main p {
      color: #666; }
      .page-newYq .modify-plan-video .modify-plan-video-item .modify-plan-video-main p span {
        color: red;
        margin: 0 3px; }
    .page-newYq .modify-plan-video .modify-plan-video-item .modify-plan-video-main .content-preview-list {
      width: 370px;
      border: solid 1px #b1b1b1;
      min-height: 40px;
      padding: 3px; }
    .page-newYq .modify-plan-video .modify-plan-video-item .modify-plan-video-main .content-preview {
      height: 40px;
      line-height: 40px;
      color: #59c2e6; }
      .page-newYq .modify-plan-video .modify-plan-video-item .modify-plan-video-main .content-preview:hover {
        background: #f0f3f6; }
    .page-newYq .modify-plan-video .modify-plan-video-item .modify-plan-video-main .video-box {
      width: 480px;
      height: 128px;
      background: url("../img/yl.png"); }

.page-newYq .modify-plan-video .video-item .modify-plan-video-main {
  padding-left: 0; }
  .page-newYq .modify-plan-video .video-item .modify-plan-video-main .video-box {
    margin: 0 auto; }

.page-newYq .modify-plan-video .jcfa-item .modify-plan-video-title {
  padding-left: 35px; }

.page-newYq .cy-model-content {
  color: #333; }

.page-fullView #profile #totalShow li span {
  cursor: pointer; }

.page-fullView #profile #totalShow li:last-child span {
  cursor: default; }

.page-fullView .clear {
  clear: both; }

.page-fullView .modify-plan-main .modify-plan-video-title {
  margin-bottom: 0; }

.page-fullView .modify-plan-main .modify-plan-content .modify-plan-item-title {
  color: #333; }

.page-fullView .modify-plan-main .modify-plan-content p span {
  color: red; }

.page-fullView .modify-plan-main .modify-plan-content .form-control {
  height: 40px;
  padding: 0 12px; }

.page-fullView .modify-plan-main .modify-plan-content .form-group {
  height: 44px; }
  .page-fullView .modify-plan-main .modify-plan-content .form-group .form-group-title, .page-fullView .modify-plan-main .modify-plan-content .form-group .cy-checkbox {
    color: #333; }
  .page-fullView .modify-plan-main .modify-plan-content .form-group .form-group-title {
    display: inline-block;
    float: left;
    line-height: 40px; }
  .page-fullView .modify-plan-main .modify-plan-content .form-group .group-input-warp {
    position: relative;
    display: inline-block;
    background: #fff;
    border: solid 1px #b1b1b1;
    margin-right: 5px;
    float: left; }
    .page-fullView .modify-plan-main .modify-plan-content .form-group .group-input-warp .input-warp {
      display: inline-block;
      float: left;
      width: 135px;
      height: 40px; }
    .page-fullView .modify-plan-main .modify-plan-content .form-group .group-input-warp input {
      display: inline-block;
      width: 100px;
      height: 38px;
      border: 0;
      background: #fff;
      color: #59c2e6;
      padding: 0;
      text-indent: 10px;
      box-shadow: none;
      line-height: 43px; }
    .page-fullView .modify-plan-main .modify-plan-content .form-group .group-input-warp .operation-box {
      color: #bcbcbc;
      display: inline-block;
      width: 30px;
      height: 100%;
      float: right;
      position: relative;
      line-height: 40px; }
      .page-fullView .modify-plan-main .modify-plan-content .form-group .group-input-warp .operation-box .add-btn {
        cursor: pointer;
        font-size: 16px;
        display: none; }
      .page-fullView .modify-plan-main .modify-plan-content .form-group .group-input-warp .operation-box .with-next {
        font-size: 20px;
        color: #666; }
      .page-fullView .modify-plan-main .modify-plan-content .form-group .group-input-warp .operation-box .close-btn {
        position: absolute;
        top: -2px;
        right: -3px;
        color: #666;
        font-size: 20px;
        font-weight: 100;
        cursor: pointer;
        width: 15px;
        height: 15px;
        line-height: 15px;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg); }
      .page-fullView .modify-plan-main .modify-plan-content .form-group .group-input-warp .operation-box .box-show {
        display: inline-block; }
      .page-fullView .modify-plan-main .modify-plan-content .form-group .group-input-warp .operation-box .box-hide {
        display: none; }
  .page-fullView .modify-plan-main .modify-plan-content .form-group .add-line-btn {
    width: 100px;
    height: 40px;
    background: #59c2e6;
    border: 0;
    font-size: 14px;
    color: #fff;
    display: none; }

.page-fullView .modify-plan-main .modify-plan-content .warning .form-group {
  height: 40px; }

.page-fullView .modify-plan-main .modify-plan-content .warning .warning-list {
  display: inline-block;
  float: left; }
  .page-fullView .modify-plan-main .modify-plan-content .warning .warning-list .modify-plan-operation-btn {
    line-height: 35px; }

.page-fullView .modify-plan-main .modify-plan-content .warning .group-input-warp {
  background: #fff;
  border: solid 1px #b1b1b1;
  width: 130px; }
  .page-fullView .modify-plan-main .modify-plan-content .warning .group-input-warp input {
    width: 115px;
    height: 38px;
    background: #fff;
    box-shadow: none;
    color: #666; }
  .page-fullView .modify-plan-main .modify-plan-content .warning .group-input-warp .operation-box {
    width: 10px; }
    .page-fullView .modify-plan-main .modify-plan-content .warning .group-input-warp .operation-box .close-btn {
      color: #666; }

.page-fullView .modify-plan-main .modify-plan-content .warning .form-group-title {
  width: 15px;
  margin-right: 15px; }

.page-fullView .modify-plan-video .modify-plan-video-item {
  padding-bottom: 30px; }
  .page-fullView .modify-plan-video .modify-plan-video-item .modify-plan-video-title {
    margin-bottom: 0;
    padding-left: 5px; }
    .page-fullView .modify-plan-video .modify-plan-video-item .modify-plan-video-title .eye-info {
      width: 24px;
      height: 12px; }
  .page-fullView .modify-plan-video .modify-plan-video-item .modify-plan-video-main {
    padding-left: 35px;
    padding-top: 10px;
    color: #666; }
    .page-fullView .modify-plan-video .modify-plan-video-item .modify-plan-video-main p {
      color: #666; }
      .page-fullView .modify-plan-video .modify-plan-video-item .modify-plan-video-main p span {
        color: red;
        margin: 0 3px; }
    .page-fullView .modify-plan-video .modify-plan-video-item .modify-plan-video-main .content-preview-list {
      width: 370px;
      border: solid 1px #b1b1b1;
      min-height: 40px;
      padding: 3px; }
    .page-fullView .modify-plan-video .modify-plan-video-item .modify-plan-video-main .content-preview {
      height: 40px;
      line-height: 40px;
      color: #59c2e6; }
      .page-fullView .modify-plan-video .modify-plan-video-item .modify-plan-video-main .content-preview:hover {
        background: #f0f3f6; }
    .page-fullView .modify-plan-video .modify-plan-video-item .modify-plan-video-main .video-box {
      width: 480px;
      height: 128px;
      background: url("../img/yl.png"); }

.page-fullView .modify-plan-video .video-item .modify-plan-video-main {
  padding-left: 0; }
  .page-fullView .modify-plan-video .video-item .modify-plan-video-main .video-box {
    margin: 0 auto; }

.page-fullView .modify-plan-video .jcfa-item .modify-plan-video-title {
  padding-left: 35px; }

.page-fullView .cy-model-content {
  color: #333; }
